#new-quote {
    margin-left: 100px;
}

#quote {
    width: 30rem;
    height: auto;
    height: auto; 
}

.flex-horizontal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}