#new-quote, #custom-quote-show {
    margin-left: 100px;
    margin-bottom: 20px;
}

#quote {
    width: 30rem;
    height: auto;
    height: auto; 
}

#custom-quote {
    height: 50px;
    margin: 50px;
}

#custom-quote-form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-horizontal {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.flex-vertical {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}