#quote {
    width: 30rem;
    height: auto;
    height: auto; 
}

.flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; 
}