{% extends "layout.html" %} 
{% block title %}Quote Generator{% endblock %}

{%block body %}
    <div class="flex-horizontal">
        <div>
            <img
                src="static/images/edited_image.JPEG"
                alt="{{ quote }}"
                id="quote"
            />
        </div>
    <!-- The section for creating random quotes -->
        <div class="flex-vertical" id="random-quote">
            <button id="new-quote" onclick="window.location.reload()">
                Random Quote
            </button>
            <button id="custom-quote-show">Or, create a quote...</button>
        </div>
    <!-- The section for creating custom quotes -->
        <div class="flex-vertical center" id="custom-quote">
            <div>
                <form id="custom-quote-form" action="/" method="POST" autocomplete="off">
                    <label for="quote">Quote:</label>
                    <input name="quote" />
                    <br>
                    <label for="author">Author:</label>
                    <input name="author" />
                    <br>
                    <button type="submit">Create Quote</button>
                </form>
            </div>
            <div>
                <button id="random-quote-show">Or, get a random quote...</button>
            </div>
        </div>
    </div>
{% endblock %}
