{% extends "layout.html" %} 
{% block title %}Quote Generator{% endblock %}

{%block body %}
    <div class="flex-horizontal center">
        <div>
            <img
                src="static/images/edited_image.JPEG"
                alt="{{ quote }}"
                id="quote"
            />
        </div>
    <!-- The section for creating random quotes -->
        <div class="flex-vertical center" id="random-quote">
            <button id="new-quote" onclick="window.location.reload()">
                New Quote
            </button>
            <button id="custom-quote-show">Or, create a quote...</button>
        </div>
    <!-- The section for creating custom quotes -->
         <div id="custom-quote" class="flex-vertical center">
             <div>
                 <form action="/" method="POST">
                     <label for="quote">Quote:</label>
                     <input name="quote" />
                     <input name="author" />
                     <button type="submit">Create Quote</button>
                 </form>
             </div>
             <div>
                 <button id="random-quote-show">Or, get a random quote...</button>
             </div>
         </div>
    </div>
{% endblock %}
